<!DOCTYPE html>
<html lang="en">
  <head>
    <% include partials/template/head.ejs %>
  </head>
  <body>
    <% include partials/template/navigation.ejs %>
    <% include partials/content/completed-projects.ejs %>
    <% include partials/template/jsdefaults.ejs %>
    <% include partials/content/contact.ejs %>
  </body>
  <% include partials/template/footer.ejs %>
</html>