<footer>
    <p><strong>
        Page originally built as part of Free Code Camp's curriculum, built on CodePen.
        Expanded upon using Node.js and Express.js.
    </p></strong>
</footer><!-- Footer -->