<!-- Jumbotron-like area -->
<a name="home_fragment"></a>
<div class="row" id="header">
  <div class="jumbotron">
    <div class="row" id="jumbotron-text">
      <h1>Tom</h1>
      <p>
        Honed by <a href="http://freecodecamp.com" target="_blank"><i class="fa fa-fire"></i>
FreeCodeCamp</a>
      </p>
      <hr>
      <div class="social-icons">
        <a href="http://www.freecodecamp.com/ch4tml" target="_blank"><i class="fa fa-fire"></i></a>
        <a href="https://github.com/ch4tml" target="_blank"><i class="fa fa-github-square"></i></a>
      </div>
    </div>
  </div>
</div><!-- Jumbotron -->