<!-- Begin About section -->
<div class="row" id="about">
  <div class="row">
  </div>
  <div class="row">
    <h1><a name="about_fragment"></a>About</h1>
    <hr>
    <div class="col-xs-12 col-sm-12 col-md-6" id="about_me">
      <p>I am an enthusiastic new developer who made the decision to pursue a career in software development in February 2015 - I have not looked back since.</p>
      <p>At present I am following the FreeCodeCamp curriculum; my current focus is on developing my HTML, CSS, JavaScript and jQuery skills to achieve FCC Front-End Developer certification. I have knowledge of <span id="skill">C#</span>, <span id="skill">MVC</span>,
        <span id="skill">SQL</span>, <span id="skill">HTML</span>, <span id="skill">CSS</span>, <span id="skill">Bootstrap</span>, <span id="skill">JavaScript</span> and <span id="skill">jQuery</span>. I am at the start of an exciting journey and
        over time I aim to become a proficient Full-Stack Developer. I look forward to where this my take me.</p>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-6">
      <div class="panel-group" id="accordion">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h2 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                C#</a>
              </h2>
          </div>
          <div id="collapse1" class="panel-collapse collapse in">
            <div class="panel-body">I have been learning since C# since February 2015. Learning has been both self-directed and through paired programming. Projects have included building console versions of Pong and Snake.
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h2 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
                MVC</a>
              </h2>
          </div>
          <div id="collapse2" class="panel-collapse collapse">
            <div class="panel-body">Before FreeCodeCamp (FCC), I was on a path to become a .Net developer. As part of this I was introduced to MVC which I began studying in July 2015.
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h2 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
                JavaScript</a>
              </h2>
          </div>
          <div id="collapse3" class="panel-collapse collapse">
            <div class="panel-body">Since October 2015, JavaScript has been my main focus. I enrolled on FCC and at present I am working toward Front-End Developer certification. This certification will have been earned through completed series of progressively more difficult
              Bonfires (coding challenges) and Ziplines (front-end based projects). The Portfolio section below outlines the projects I have developed as part of the FCC curriculum.
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h2 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">
                jQuery</a>
              </h2>
          </div>
          <div id="collapse4" class="panel-collapse collapse">
            <div class="panel-body">Alongside JavaScript, FCC draws a learner's attention to jQuery. My journey into JavaScript and jQuery both begun in October 2015, my skills being developed through FCC and Codecademy.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div><!-- About section -->