<div class="col-xs-12 completed-projects">
    <h1>Completed Projects</h1>
    <h2>Single Page Apps</h2>
    <hr>
        <% for(var i = 0; i < projects.length; i++) { %>
        <a href="<%= projects[i].url %>" target="_blank">
            <div class="project">
                <p><img src="<%= projects[i].img %>" alt="Project Thumbnail" id="portfolio-image"></p>
                <h3><%= projects[i].name %></h3>
                <p><%= projects[i].description %></p>
            </div>
        </a>
        <% }; %>
</div>