<!-- TODO - DON'T REPEAT YOURSELF -->

<div class="completed-projects" ng-app="portfolioApp" ng-controller="ProjectController as projects">
    <h1>Completed Projects</h1>
    <div>
        <input type="text" ng-model="searchText" id="project-search" placeholder="Search" autofocus>
    </div><!-- Search div -->
    <h2>
        Front-end Projects
    </h2>
    <div class="project" ng-repeat="project in frontEndProjects | filter: searchText">
        <a href="{{project.url}}" target="_blank">
            <div id="image" class="col-xs-12 col-sm-3 col-xs-3">
                <p id="image-row" ng-style="{'background-image': 'url({{project.img}})'}"></p>
            </div>
            <div id="description" class="col-xs-12 col-sm-9 col-xs-9">
                <h3>{{project.name}}</h3>
                <p>{{project.description}}</p>
                <p><h3>Technologies: </h3>
                    <p id="technologies" ng-repeat="technology in project.technologies">
                        {{technology}} 
                    </p>
                </p>
            </div>
        </a>
    </div><!-- Repeat front end project div -->
    <h2>
        API Projects
    </h2>
    <div class="project" class="col-xs-12" ng-repeat="project in fullStackProjects | filter: searchText">
        <a href="{{project.url}}" target="_blank">
            <div id="image" class="col-xs-12 col-sm-3 col-xs-3">
                <p id="image-row" ng-style="{'background-image': 'url({{project.img}})'}"></p>
            </div>
            <div id="description" class="col-xs-12 col-sm-9 col-xs-9">
                <h3>{{project.name}}</h3>
                <p>{{project.description}}</p>
                <p><h3>Technologies: </h3>
                    <p id="technologies" ng-repeat="technology in project.technologies">
                        {{technology}}
                    </p>
                </p>
            </div>
        </a>
    </div><!-- Repeat full-stack project div -->
</div><!-- Completed projects -->