<div class="completed-projects">
    <h1>Completed Projects</h1>
    <p>
        <% projects.forEach(function(item){ %>
        <ul>
            <li><%= item %></li>
        </ul>
        <% }); %>
    </p>
</div>