<!-- Begin Contact section -->
<div class="row" id="contact">
  <a name="contact_fragment"></a>
  <div class="col-xs-12 col-sm-12">
    <h1>Contact</h1>
    <hr>
  </div>
  <div class="col-xs-12 col-sm-12">
  </div>
  <div class="contact">
    <a href="http://www.freecodecamp.com/ch4tml" target="_blank"><i class="fa fa-fire"></i>
FreeCodeCamp Profile</a>
  </div>
  <div class=" contact">
    <a href="https://github.com/ch4tml" target="_blank"><i class="fa fa-github-square"></i>
GitHub</a>
  </div>
  <div class="contact">
    <a href="https://www.codecademy.com/ch4tml" target="_blank">Codecademy Profile</a>
  </div>
</div><!-- Contact section -->