
<!-- Begin Image Attributions section -->
<div class="row">
  <div class="col-md-12" id="image_attributions">
    <h2><a name="image_attributions_fragment"></a>Image attributions</h2>
    <hr>
    <p>
      Header image licensed under Creative Commons. The image has been truncated.
      </br>
      Header image source: Old Keyboard - Photographer - <a href="https://www.flickr.com/photos/wwarby/16179487284/in/album-72157650909290339/" target="_blank">William Warby - Flickr</a>
      </br>
    </p>
    <p>
      <a href="https://creativecommons.org/licenses/by/2.0/" target="_blank">Creative Commons Licence</a>
    </p>
  </div>
</div><!-- Image attributions section -->