<!-- Begin Previous Work section -->
<div class="row" id="portfolio">
  <a name="portfolio_fragment"></a>
  <h1>Portfolio</h1>
  <hr>
  <div class="row col-sm-12 col-md-12">
    <div class="responsive">
      <div class="slide">
        <div class="row">
          <h3>Quote Generator</h3>
        </div>
        <div class="row">
          <a href="http://s.codepen.io/ch4tml/debug/OyQVOW" target="_blank">
            <img src="/images/Quote_Generator.PNG" alt="Quote Generator Thumbnail"></a>
        </div>
      </div>
      <div class="slide">
        <div class="row">
          <h3>Pomodoro Clock</h3>
        </div>
        <div class="row">
          <a href="http://s.codepen.io/ch4tml/debug/YyRdxb" target="_blank">
            <img src="/images/Pomodoro Clock.PNG" alt="Pomodoro Clock Thumbnail">
          </a>
        </div>
      </div>
      <div class="slide">
        <div class="row">
          <h3>JavaScript Calculator</h3>
        </div>
        <div class="row">
          <a href="http://s.codepen.io/ch4tml/debug/ojmeyP" target="_blank">
            <img src="/images/Calculator.PNG" alt="JavaScript Calculator Thumbnail">
          </a>
        </div>
      </div>
      <div class="slide">
        <div class="row">
          <h3>Local Weather</h3>
        </div>
        <div class="row">
          <a href="http://s.codepen.io/ch4tml/debug/yYWrYQ" target="_blank">
            <img src="/images/Local Weather.PNG" alt="Local Weather Thumbnail">
          </a>
        </div>
      </div>
      <div class="slide">
        <div class="row">
          <h3>Twitch TV</h3>
        </div>
        <div class="row">
          <a href="http://s.codepen.io/ch4tml/debug/wKVxRG" target="_blank">
            <img src="/images/Twitch TV.PNG" alt="Twitch TV App Thumbnail">
          </a>
        </div>
      </div>
      <div class="slide">
        <div class="row">
          <h3>Camper News</h3>
        </div>
        <div class="row">     
          <a href="http://s.codepen.io/ch4tml/debug/ZQzyGW" target="_blank">
            <img src="/images/Camper News.PNG" alt="Camper News App Thumbnail">
          </a>
        </div>
      </div>
      <div class="slide">
        <div class="row">
          <h3>Wikipedia Viewer</h3>
        </div>
        <div class="row">
          <a href="http://s.codepen.io/ch4tml/debug/bEbyrK" target="_blank">
            <img src="/images/Wiki Viewer.PNG" alt="Wikipedia Viewer App Thumbnail">
          </a>
        </div>
      </div>
    <div class="slide">
        <div class="row">
          <h3>Tic-Tac-Toe</h3>
        </div>
        <div class="row">
          <a href="http://s.codepen.io/ch4tml/debug/MKwEGB" target="_blank">
            <img src="/images/Tic-Tac-Toe.PNG" alt="Tic-Tac-Toe Thumbnail">
          </a>
        </div>
      </div>
    <div class="slide">
        <div class="row">
          <h3>Placeholder</h3>
        </div>
        <div class="row">
          <p class="portfolio-paragraph"><i class="fa fa-spinner"></i></p>
        </div>
      </div>
    </div><!-- Carousel -->
  </div>
</div><!-- Previous Work section -->